
<div class = "row row-welcome">
  <div class = "col-sm-12">
    <div class="jumbotron pt-4 pb-4">
      <div class = "row">
        <h1 class = "text-right col-sm-3">WeavePress!</h1>
        <h1 class = "col-sm-9"><small class="text-muted">Wordpress on Blockchain.</small></h1>
      </div>
      <dl class="row">
        <dt class="col-sm-3 text-right">No monthly cost.</dt>
        <dd class="col-sm-9">Pay once as lttle as 10$ and host forever. No need to pay bills every month.</dd>
      </dl>      
      <dl class="row">
        <dt class="col-sm-3 text-right">Unhackable.</dt>
        <dd class="col-sm-9">No one can hack your website. Period.</dd>
      </dl>      
      <dl class="row">
        <dt class="col-sm-3 text-right">Zero Maintanence.</dt>
        <dd class="col-sm-9">No need to update your server software, because there is no server.</dd>
      </dl>            
    </div>    
  </div>
  
  <!--
  //Diff
  //~ Amount you saved
  //CTA to Affiliate referal earnings link
-->
</div>


<div class = "row row-stats">
  <div class = "col-sm-12 col-content-stats">
    <table class = "table">
      <caption>Content Stats</caption>
      <thead>
        <tr>
          <th>Content</th>
          <th>Items</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pages</td>
          <td>7</td>
          <td>4kb</td>
        </tr>
        <tr>
          <td>Posts</td>
          <td>51</td>
          <td>42kb</td>
        </tr>        
        <tr>
          <td>Taxonomies</td>
          <td>71</td>
          <td>1kb</td>
        </tr>        
        <tr>
          <td>Images</td>
          <td>120</td>
          <td>6Mb</td>
        </tr>        
        <tr>
          <td>Code Files</td>
          <td>7</td>
          <td>13kb</td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>

<div class = "row row-diff">
  <!--
  //Created 10 pages
  //Modifed 3 pages
  //Delete 1 pages
  //Cost to publish this changes. 
  //s/w Version used vs current version 
  -->
</div>


<div class = "row row-affiliate">
  <!--
  //Become affiliate and earn money, 
  //Info on how to.
  //Affiliate earnings stats
  -->
</div>