<h1 class = "page-title">Widgets</h1>
<div class = "row">
  <div class = "col-sm-12 col-md-5 col-widgets">
    <h2 class = "title-sub">Avaliable Widgets</h2>
    <small>To activate a widget drag it to a sidebar or click on it. To deactivate a widget and delete its settings, drag it back.</small>
    <div class = "row" [ngClass] = "{'widselected': curWidget}">
      <div class = "col-md-6 col-sm-12 col-widget-item mb-2" *ngFor = "let widget of widgets | keyvalue" [ngClass] = "{'openedwid': curWidget && curWidget == widget.value.machine_name}">
        <div class = "w-100">

        <a type="button" class="btn btn-link border-secondary bg-white widhead w-100 pl-1 pr-1" (click)="widget.isWidCollapsed = !widget.isWidCollapsed; curWidget = widget.value.machine_name; widgetToggle(widget.value.machine_name)"
        [attr.aria-expanded]="!widget.isWidCollapsed" attr.aria-controls="widget-{{widget.value.machine_name}}">
        {{widget.value.title}}
        </a>
        <small class = "p-2">{{widget.value.description}}</small>
        </div>

        <div id="widget-{{widget.value.machine_name}}" [ngbCollapse]="!widget.isWidCollapsed">
          <div class="card">
            <div class="card-body">
              
              <div class="btn-group-vertical mb-2 w-100">
                  <a type="button" class="btn btn-outline-secondary btn-tn text-left" (click) = "widRegSelected[widget.value.machine_name] = _region.value.machine_name" *ngFor = "let _region of regions | keyvalue" [ngClass]="{'selected-reg': widRegSelected[widget.value.machine_name] == _region.value.machine_name}">
                  <i class = "menu-icon mdi mdi-check"></i>{{_region.value.title}}
                </a>
              </div>
              <div class="w-100" role="group">
                <a type="button" (click) = "widRegSelected[widget.value.machine_name] = ''; widget.isWidCollapsed = !widget.isWidCollapsed" class="btn btn-outline-primary btn-tn text-primary float-left">cancel</a>
                <a type="button" class="btn btn-primary btn-tn text-white float-right" (click) = "addWidget(widget.value.machine_name, widRegSelected[widget.value.machine_name])">Add Widget</a>
              </div>
            </div>
          </div>
        </div>

      </div> 
    </div>
  </div>
  <div class = "col-sm-12 col-md-7 col-regions">
    <h2 class = "title-sub">Theme regions</h2>
    <div class = "row">
        
      <div class = "col-md-6 col-sm-12 col-region-item p-2" *ngFor = "let _region of regions | keyvalue">
        <div class = "w-100 border-secondary bg-white">
          <a type="button" class="reghead w-100 pl-4 pt-3 btn btn-secondary pr-4" >
          {{_region.value.title}}
          </a>
          <div class = "wid-desp pl-4 pr-4 pt-1 w-100">
            <p class = "pt-2">{{_region.value.description}}</p>
            <p>Add Widgets here.</p>
          </div>
          
      
          <div id="region-{{_region.key}}" >
            <div class="card border-0">
              <div class="card-body">
                
                <!-- Region widget starts -->
                <div class="item-child"  *ngIf="regwids[_region.key]" [sortablejs]="regwids[_region.key]"  [sortablejsOptions]="sortable_options">

                <div class = "w-100 mb-4" *ngFor = "let regwid of regwids[_region.key]">
                
                  <a type="button" class="btn btn-secondary rwhead w-100" (click)="regwid.isWidCollapsed = !regwid.isWidCollapsed;"
                  [attr.aria-expanded]="!regwid.isWidCollapsed" attr.aria-controls="regwid-{{regwid.delta}}">
                    {{regwid.title}}
                  </a>
                  <div id="regwid-{{regwid.delta}}" [ngbCollapse]="!regwid.isWidCollapsed">
                    <form [formGroup]="regwid.form" (ngSubmit)="onSubmit(_region.key, regwid.machine_name, regwid.model, regwid.delta, 0)">
                      <formly-form [form]="regwid.form" [fields]="regwid.fields" [model]="regwid.model">  
                      </formly-form>
                      <div class = "w-100">
                      <span class = "">
                        <a class = "small text-danger" (click) = "deleteRegWid(_region.key, regwid.delta)">Delete</a> <span> | </span> <a class = "small" (click) = "regwid.isWidCollapsed = true">Done</a>
                      </span>
                      <button type="submit" class="btn btn-outline-primary btn-tn float-right" [disabled]="!regwid.form.valid">Save</button>
                      </div>
                    </form>
                  </div>
                </div>

                </div>
                <!-- Region widget ends -->

              </div>
            </div>
          </div>  <!-- region body -->
        </div>
      </div>
    </div>
  </div>
</div>