

body,
html {
  overflow-x: hidden;
  padding-right: 0 !important; // resets padding right added by Bootstrap modal
  color: #23282d;
}

h1,h2,h3,h4,h5 {
  color: #23282d;
}
h2 {
  font-size: 20px;
}
*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
  overflow: auto !important;
}

.page-body-wrapper {
  min-height: calc(100vh - #{$navbar-height});
  @include display-flex();
  @include flex-direction(row);
  padding-left: 0 !important;  
  padding-right: 0 !important;
  padding-top: $navbar-height;
  &.full-page-wrapper {
    width: 100%; 
    min-height: 100vh;
  }
}

.main-panel {
  transition: width $action-transition-duration $action-transition-timing-function, margin $action-transition-duration $action-transition-timing-function;
  width: calc(100% - #{$sidebar-width-lg});
  min-height: calc(100vh - #{$navbar-height});
  @include display-flex();
  @include flex-direction(column);
  @media (max-width: 991px) {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: $content-bg;
  padding: 1.5rem 1.7rem;
  width: 100%;
  @include flex-grow(1);
}

.container-scroller {
  overflow: hidden;
}

.scroll-container {
  position: relative;
  &.horizontally {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
  }
  &.vertically {
    overflow-y: hidden;
    height: 100%;
    max-height: 100%;
  }
}

.hidden{
  display: none;
  visibility: hidden;
}

.page-title {
    color: #555555;
    margin-bottom: 30px;
    font-size: 26px;
    margin: 0.38rem 0 0.75rem;
    font-weight: 100;
}
.form-group label {
    font-size: 12px;
    padding-top: 5px;
}


pre {
  background: color(gray-lighter);
  padding: 15px;
  font-size: 14px;
}

//Tabular styles override

.tabulator {
   font-size: 12px;
   border: none;
}

.tabulator .tabulator-header {
   font-weight: normal;
   border-bottom: 1px solid;
   border-bottom-color: rgba(0, 0, 0, 0.12);
   color: rgba(0, 0, 0, 0.54);
}

.tabulator .tabulator-header .tabulator-col {
   height: 48px;
   background-color: #ffffff;
   border: none;
   padding: 0 7px;
}

.tabulator-row {
   border-bottom: 1px solid;
   border-bottom-color: rgba(0, 0, 0, 0.12);
   min-height: 48px;
   vertical-align: middle;
}

.tabulator-row .tabulator-cell {
   padding: 16px 7px;
   border-right: none;
   vertical-align: middle;
}

.tabulator-row .tabulator-cell:first-of-type,
.tabulator .tabulator-header .tabulator-col:first-of-type {
   padding-left: 24px;
}

.tabulator-row.tabulator-row-even {
   background-color: #ffffff;
}
  .form-control-sm {
    height: calc(1.5em + 0.5rem + 6px) !important;
  }

.accordion {
  .card {
    .card-header {
      padding: 0px !important;
      .btn {
        padding-left: 15px;
        padding-right: 15px;
        color: #2e3237;      
        width: 100%;
        text-align: left        
      }      
    }

  }
} 

:host ::ng-deep {
  .card-pad {
    .card-header {
      padding: 0.5rem 1rem !important;
      .btn {
        padding: 0px;
        font-weight: bold;
      }
    }
    .card-body {
      padding: 0px !important;
      .card-body-pad {
        padding: 1.25rem;
      }
      .card-bodyfooter {
        padding: 0.5rem 1.25rem;
        display: block;
        float: left;
        width: 100%;
        background: #fafafa;         
      }
    }
  } 
}  

.postform-extras .accordion > .card:not(:last-of-type) {
  margin-bottom: 15px; 
}

.title-sub {
  font-size: 20px;
}

.col-menu-select {
  margin-bottom: 15px;
    margin-top: 15px;
  .form-inline {
    padding: 5px 15px;
    background: #fff;
    font-size: 12px;
  }
}

.cur-ch {
  cursor: move;
}
.cur-zi {
  cursor: zoom-in; 
}
.cur-zo {
  cursor: zoom-out;  
}
.isroot-false {
  padding-left: 10px;
}
.wpmenuitem {
  .card-header {
    font-size: 0.8rem;
    .menu-type {
      font-size: 11px;
    }
  }
  .isroot-true {
    //margin-left: -15px;
  }
  ul li a{
    font-size: 12px;
    cursor: pointer;
  }
}

.btn-tn{
    font-size: 12px !important;
    padding: 3px 9px !important;  
}

.form-control-tn {
height: calc(0.75em + 0.75rem + 2px) !important;
    padding: 0.56rem 0.375rem !important;
    border-radius: 5px !important;
}
 
.href {
  color: #308ee0;
  cursor: pointer;
}

.hoveropen {
  display: none;
}

.hoverwrap:hover {
  .hoveropen {
    display: block;
  }
}

